.row-header{
    margin: 30px 0px 0px 0px;
    padding: 0px auto;
}
.jumbotron1{
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    /* background-color:rgb(186, 197, 90); */
    /* background-image: image(img/2.jpg);
    background: image("./img/2.jpg"); */
    /* color:white; */
    color: white;
    height: 250px;
}


.jumbotron img{
    margin-top: 5px;
    height: 130px;
    width: 130px ;
}


nav{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-dark{
    background-color:rgb(92, 94, 12);
    /* background-color:#ffcdd2; */
    
}
.navbar{
    color: black;
    font-style: bold;
}



.carousel{
<<<<<<< HEAD
    background:rgb(158, 129, 34, 0.863);
=======
    background:rgba(241, 240, 238, 0.863);
>>>>>>> 00274d53d1f57f57357c7a8dff72cfe06a52cc92
    border-radius: 40px;
}
.carousel-item{
    height: 400px;
    /* max-width: 400px; */
}

.carousel-item img{
    position: absolute;
    top:0;
    left:0;
    border: 2px solid whitesmoke;
    padding: 5px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 4px;
    border-radius: 40px;
    max-height:400px;
}

#aboutus img{
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-top: 75px;

}
#when img{
    height: 600px;
    width: 600px;
}
#evp{
	padding: 30px;
}
#evp p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#evp img:hover{
    cursor: pointer;
    border: 5px solid rgb(62, 110, 121);
    border-radius: 20px;
}
#evp img{
    border-radius: 10px;
    border:5px solid seashell;
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:black;
    font-size:30px;
    /* border-right:medium;
    border-style: solid; 
    border-radius: 10px;*/
}
.footer{
    background-color: #c3ce33;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd ;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}


#members{
    margin: 0px;
    display: flex;
    margin: 34px;
}

#members .box{
<<<<<<< HEAD
=======
    border-radius: 20px; 
    text-align: center;
    padding: 1px;
>>>>>>> 00274d53d1f57f57357c7a8dff72cfe06a52cc92
    margin: 10px;
    /* border:2px solid gray;
    border-radius: 20px; */
    text-align: center;
    padding: 3px;
    /* margin: 3px; */
}

@media (min-width:750px){
    #gallery{
        margin-left: 5px;
    }
    #members .box{
        min-height: 280px;
        min-width: 280px;
    }
    #members .box img{
        min-height: 250px;
        min-width: 250px;
         padding:4px;
         border-radius: 20px;
     }
}
@media (min-width:1020px){
    #gallery{
        margin-left: 40px;
    }
    #members .box{
        min-height: 250px;
        min-width: 250px;
    }
    #members .box img{
        min-height: 250px;
        min-width: 250px;
         padding:4px;
         border-radius: 20px;
     }
}

#members .box img{
   max-height: 350px;
   max-width: 350px;
    padding:4px;
    border-radius: 20px;
}

dd,dt{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
