.row-header{
    margin: 30px 0px 0px 0px;
    padding: 0px auto;
}
.jumbotron1{
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    /* background-color:rgb(186, 197, 90); */
    /* background-image: image(img/2.jpg);
    background: image("./img/2.jpg"); */
    /* color:white; */
    color: white;
    height: 250px;
}


.jumbotron img{
    margin-top: 5px;
    height: 130px;
    width: 130px ;
}
.navbar-dark{
    background-color:rgb(92, 94, 12);
    
}
.navbar{
    color: black;
    font-style: bold;
}

.carousel{
    background:rgb(158, 129, 34, 0.863);
    border-radius: 40px;
}
.carousel-item{
    height: 400px;
    /* max-width: 400px; */
}

.carousel-item img{
    position: absolute;
    top:0;
    left:0;
    border: 2px solid whitesmoke;
    padding: 5px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 4px;
    /* min-width: 1110px; */
     border-radius: 40px;
    /* min-height: 300px; */
    max-height:400px;
}

#aboutus img{
    height: 300px;
    width: 300px;
    margin-left: 5px;
    margin-top: 10px;

}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:black;
    font-size:30px;
    /* border-right:medium;
    border-style: solid; 
    border-radius: 10px;*/
}
.footer{
    background-color: #c3ce33;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd ;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
#members{
    margin: 0px;
    display: flex;
    margin: 34px;
}

#members .box{
    margin: 10px;
    /* border:2px solid gray;
    border-radius: 20px; */
    text-align: center;
    padding: 3px;
    /* margin: 3px; */
}
#members .box img{
    height: 250px;
   min-width: 250px;
    padding:4px;
    border-radius: 20px;
}
