.jumbotron{
	position: relative; 
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
}

.jumbotron::before{
	content: "";
      background-image: url('./img/newspaper.jpg');
	  background-size: cover;
	  object-fit: fill;
      position: absolute;
      top: -220px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.85;
}
.b {
	display: flex;
	justify-content: center;
    align-items: center;
    margin:30px;
  }
@media (max-width:520px){
	.jumbotron{
		object-fit: fill;
	}
	.jumbotron h1{
		position: relative;
		color: black;  
		font-size: 3rem;
		line-height: 0.9;
		text-align: center;
	}
	.jumbotron .b button{
		position: relative;
		align-self: center;
		color: rgb(30, 84, 131);
		background-color:yellow;
		border-radius: 20px;
		border-color: yellow;
		font-size: 4rem;
		margin-left: 50px;
		line-height: 0.9;
		text-align: center;
	}
}

@media (min-width:720px){
	.jumbotron h1{
		position: relative;
		color: black;  
		font-size: 4rem;
		line-height: 0.9;
		text-align: center;
		}
.jumbotron .b button{
	position: relative;
	align-self: center;
	margin-left:400px ;
	font-size: 4rem;
	border-color: yellow;
	border-radius:20px ;
	color: rgb(30, 84, 131);
	background-color:yellow;
	line-height: 0.9;
	text-align: center;
}
}

